#home-page {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}

#home-page img {
  max-height: 300px;
  margin: auto;
}

.home__card {
  max-width: 310px;
  margin: auto;
}

#home-page a {
  width: 100%;
}

@media (min-width: 700px) {
  #home-page img {
    max-width: 250px;
  }

  #home-page a {
    width: auto;
  }

  .home__card {
    max-width: max-content;
    display: flex;
    align-items: center;
  }
}