html {
  text-wrap: pretty;
}

img {
  min-width: 0;
}

iframe {
  width: 100%;
}

/* Utility Classes */
.rounded_img {
  border-radius: 100%;
}

.page_container {
  padding: 10px 20px;
}

.primary_link {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: bisque;
  background-color: royalblue;
  font-weight: bold;
  margin: 3px;
  text-align: center;
}

@media (min-width: 400px) {
  .page_container {
    padding: 20px 40px;
  }
}